<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189248158850-hip7or6rn67chhfedmolltehvqtjfo04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189248158850-hip7or6rn67chhfedmolltehvqtjfo04</string>
	<key>API_KEY</key>
	<string>AIzaSyBf_ac1lQz8V5VNw25VEC_fF1prXEbcEIs</string>
	<key>GCM_SENDER_ID</key>
	<string>189248158850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.avotv</string>
	<key>PROJECT_ID</key>
	<string>avo-tv</string>
	<key>STORAGE_BUCKET</key>
	<string>avo-tv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189248158850:ios:1261d5e54094523933089b</string>
</dict>
</plist>